.btn-sencha{
  --bs-btn-bg:#1B3D24;
  --bs-btn-border-color:#1B3D24;
  --bs-btn-hover-bg:#21492C;
  --bs-btn-hover-border-color:#21492C;
  color:#fff!important;
  background:#1B3D24!important;
  border-color:#1B3D24!important;
}


.tea-thumb{
    height: 150px;          
    object-fit: cover;
}


.btn-sencha{
    background-color: #5d9b63;   
    color: #fff;
    border: none;
}
.btn-sencha:hover,
.btn-sencha:focus{
    background-color: #4d8653;  
    color: #fff;
}

img.card-img-top.shop-thumb{
    width:100%;
    height:180px !important;   /* force override */
    object-fit:cover;
}
